<ion-view view-title="Testin Uygulandığı Sayfa">
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <img src="avatar.jpg">
    <h2 ng-bind="survey[0].poll_name"></h2>
    <p>Anket Açıklaması</p>
  </div>
  <div ng-repeat="item in survey[1]">
    <p>{{item.question_header}}</p>
    <div ng-repeat="x in item.answers">
      {{x.answer_description}}
      <img class="full-image" src="{{x.image.url}}">
    </div>
  </div>

  <div class="item item-image">
    <img src="cover.jpg">
  </div>

  

</div>
  </ion-content>
</ion-view>