<ion-view view-title="Karşılama Ekranı">
  <ion-content>
    <div class="card" ng-show="survey[2]">
    <div class="item item-text-wrap" style="background:#EF5350; color:white;">
    <center> Hoşgeldiniz, {{survey[2].person_first_name +" "+survey[2].person_last_name}}</center>
     
    </div>
  </div> 
    <div class="list card">

  <div class="item item-avatar">
    <img src="img/avatar.png">
    <p style="font-size:15pt; margin-top:9px !important; " ng-bind="survey[0].poll_name"></p>
  </div>

  <div class="item item-image">

      
    <div ng-bind-html="renderHtml(survey[0].poll_description)"></div>
  </div>
  <li class="item item-icon-left balanced">
    <i class="icon ion-ios-calendar-outline"></i>

    Başlangıç Tarihi:  {{survey[0].poll_start_date}}
  </li>
  <li class="item item-icon-left assertive">
    <i class="icon ion-ios-calendar"></i>
    Bitiş Tarihi: {{survey[0].poll_finish_date}}
  </li>
  <ion-item>
      <center><button class="button button-full button-assertive" ng-click="" ui-sref="app.survey">
      TESTE BAŞLA
    </button></center>
  </ion-item>
      
</div>

  </ion-content>
</ion-view>