<ion-view view-title="Testin Uygulandığı Sayfa">
  <ion-content>
    <div class="list card">

      <div class="item item-divider">

        <h2 ng-bind="survey[0].poll_name"></h2>
        <p>Anket Açıklaması</p>
      </div>
      <div ng-repeat="item in survey[1]">
        <p>{{item.question_header}}</p>
        <div ng-repeat="x in item.answers">
         <div class="list card">

            <div class="item item-avatar">
              <p>Cevap</p>
            </div>

            <div class="item item-body">
                    <img class="full-image" src="{{x.image.url}}">
              <p>
               {{x.answer_description}}
              </p>

            </div>

          </div>

        </div>
       
      </div>

  

</div>
  </ion-content>
</ion-view>