<ion-view view-title="Karşılama Ekranı">
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <img src="https://cdn0.iconfinder.com/data/icons/fire/106/pharmacy-128.png">
    <p style="font-size:15pt; margin-top:9px !important; " ng-bind="survey[0].poll_name"></p>
  </div>

  <div class="item item-image">


      <div  ng-bind-html="renderHtml(survey[0].poll_description)"></div>
  </div>
  <li class="item item-icon-left balanced">
    <i class="icon ion-ios-calendar-outline"></i>
    Başlangıç Tarihi:  {{survey[0].poll_start_date}}
  </li>
  <li class="item item-icon-left assertive">
    <i class="icon ion-ios-calendar"></i>
    Bitiş Tarihi: {{survey[0].poll_finish_date}}
  </li>
  <ion-item>
      <center><button class="button button-full button-calm" ng-click="" ui-sref="app.survey">
      TESTE BAŞLA
    </button></center>
  </ion-item>

</div>
  </ion-content>
</ion-view>